{% extends 'layouts/base.html' %}

{% block content %}


<div class="col-12 col-sm-6 col-md-6 ">
  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active">METRIC UNIT</a>
        </li>

      </ul>
    </div>
    <div class="card-body">
      <form action="" method="post" class="form-signin">
        {% csrf_token %}

        <h2 class="h3 mb-3 font-weight-normal">Metric Unit</h1>
          <label for="quantity">HEIGHT</label>

          <input type="quantity" name="height" class="form-control" placeholder="cms" required autofocus>
          <br>
          <label for="quantity">WEIGHT</label>

          <input type="quantity" name="weight" class="form-control" placeholder="kgs" required autofocus>
          <br>

          <div>
            <br>
            <div class="container">
              <div class="row">
                <div class="col-12 col-sm-6 col-md-6 ">

                  <button class="btn btn-success btn-lg " type="submit">Calculate </button>

                </div>
                <div class="col-12 col-sm-6 col-md-6 ">

                  <button class="btn btn-secondary btn-lg">clear </button>

                </div>
              </div>
            </div>



          </div>
      </form>

    </div>
  </div>


</div>

<div class="col-12 col-sm-6 col-md-6 m-t:8">
  <div class="card" style="width: 80%;height: 400px;;">
    {% if bmi %}

    <h3>BMI={{bmi}}</h3>
    <h3>category={{category}}</h3>
    {% endif %}





    <br>
    <br>
    <ul>
      <li>
        <h5>Healthy BMI range:18.5kg/m2 -25 kg/m2</h5>
      </li>
      <li>
        <h5>Healthys- weight for the height 50.4 kg-68.1kgms</h5>
      </li>
      <li>
        <h5>Ponderal Index:152 kg/m3</h5>
      </li>



    </ul>

  </div>


</div>


</div>

<!--form class="form-signin">
      
      <h2 class="h3 mb-3 font-weight-normal" >Metric Unit</h1>
      <label for="quantity" >HEIGHT</label>
     
      <input type="quantity" name="height"id="" class="form-control" placeholder="cms" required autofocus>
      <br>
      <label for="quantity" >WEIGHT</label>
      <input type="quantity" name="weight" id="" class="form-control" placeholder="kg" required>
      <div>
        <br>
        <div class="container">
          <div class="row">
            <div class="col-12 col-sm-6 col-md-6 ">
               
                <button class="btn btn-success btn-lg " type="submit" formaction="calculator.html">Calculate </button>
               
            </div>
            <div class="col-12 col-sm-6 col-md-6 ">
            
                <button class="btn btn-secondary btn-lg" type="submit" formaction="calculator.html">clear </button>
              
            </div>
          </div>
        </div>
  
        
      
      </div>
          </form>
          </div-->


{% endblock content %}